<div class="container">
  <div class="col-md-3 leftNav">
  </div>

  <div class="col-md-6 textEditor">
    <%= f.input :content, as: :wysihtml5, wysihtml5: { locale: "es-ES" } %>
  </div>

  <div class="col-md-3 rightbar">

  </div>

</div>
